pyrogram==2.0.38
tgcrypto
lyricsgenius
yt-dlp 
python-dotenv
requests
asgiref
deezer-python
spotipy
psutil
youtube-dl
aiohttp
aiofiles
apscheduler
mutagen
pymongo[srv]==3.12.3
bs4
motor==2.5.1
Shazamio
youtube_search
youtube-search-python
Pillow
wget
youtube-search-python
flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.1
